<div class="admin-sidebar">
    <nav>
    <ul>
        <li><a href="/admin/dashboard" routerLinkActive="active">Головна сторінка</a></li>
        <li><a href="/admin/users" routerLinkActive="active">Керування користувачами</a></li>
        <li><a href="/admin/clients" routerLinkActive="active">Керування клієнтами</a></li>
        <li><a href="/admin/warehouse-settings" routerLinkActive="active">Налаштування складу</a></li>
        <li><a href="/admin/pallet-types" routerLinkActive="active">Типи палет</a></li>
    </ul>
    </nav>
</div>