<div>
    <h1>Inventory Management</h1>
    <div class="inventory-actions">
        <button>Add New Item</button>
        <button>Delete Item</button>
    </div>

    <div class="inventory-list">
        <table>
            <thead>
                <tr>
                    <th> № </th>
                    <th> Client ID </th>
                    <th> Name </th>
                    <th> Address </th>
                    <th> Phone </th>
                    <th> Email </th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                        <td>{{item}}</td>
                        <td>{{item}}</td>
                        <td>{{item}}</td>
                        <td>{{item}}</td>
                        <td>{{item}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>