<div class="dashboard-container">
    <div class="subcontainer">
        <div class="main-buttons-container">
            <ul class="main-buttons-list">
                <li><a> Clients </a></li>
                <li><a> Contracts </a></li>
                <li><a> Incoming receipts </a></li>
                <li><a> Outgoing shipments </a></li>
                <li><a href="/inventory"> Inventory Management </a></li>
                <li><a> Movement history </a></li>
            </ul>
        </div>
    
        <div class="statistics">
            <!-- temporary -->
            <h2>Dashboard Statistics</h2>
            <p>Total Clients: 150</p>
            <p>Active Shipments: 45</p>
            <p>Inventory Items: 1200</p>
            <!-- temporary -->
            <button>View Detailed Reports</button>
        </div>
    </div>


    <!-- <div>
        <h2>Recent Activities</h2>
        <ul>
            <li>Client ABC added a new shipment.</li>
            <li>Inventory item XYZ updated.</li>
            <li>Shipment #123 delivered.</li>
        </ul>
    </div> -->

</div>