<div class="shipments-container">
    <h2>Outgoing Shipments</h2>
    <div class="shipments-actions">
        <button mat-raised-button color="primary">Add New Shipment</button>
        <button mat-raised-button color="warn">Delete Shipment</button>
    </div>

    <div class="shipments-list">
        <app-table 
        [columns]="shipmentColumns" 
        [data]="shipmentItems" 
        [rowIdKey]="rowIdKeyForShipments"
        (rowClicked)="onItemSelected($event)"
        (selectionChanged)="onSelectionChange($event)">
    </app-table>
    </div>
</div>