    <form [formGroup]="form" class="form-container">

      <h2>{{ isEditMode ? 'Edit Item' : 'Create New Item' }}</h2>

      <mat-form-field appearance="outline">
        <mat-label>Client Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.get('name')?.hasError('required')">Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.get('email')?.hasError('required')">Required</mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">Invalid email</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Client EDRPOU</mat-label>
        <input matInput type="number" formControlName="EDRPO">
        <mat-error *ngIf="form.get('EDRPO')?.hasError('required')">Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact Person</mat-label>
        <input matInput type="string" formControlName="contactPersonName">
        <mat-error *ngIf="form.get('contactPersonName')?.hasError('required')">Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="contactPersonPhone">
        <mat-error *ngIf="form.get('contactPersonPhone')?.hasError('required')">Required</mat-error>
      </mat-form-field>

        <div class="actions">
            <button mat-button type="button" (click)="cancel.emit()">Cancel</button>

        <button mat-raised-button color="primary"
                [disabled]="form.invalid || form.pristine"
                (click)="submit()">
          {{ isEditMode ? 'Save Changes' : 'Create' }}
        </button>
    </div>

    </form>