<div class="dashboard-container">
    <div class="subcontainer">
        <div class="main-buttons-container">
            <ul class="main-client-related-features">
                <li><a href="/clients"> Клієнти </a></li>
                <li><a href="/contracts"> Договори </a></li>
                <li><a> Платежі </a></li>
            </ul>

            <ul class="main-buttons-list">
                <li><a href="/documents"> Документи </a></li>
                <li><a href="/inventory"> Управління інвентарем </a></li>
                <li><a>Управління секторами</a></li>
                <li><a href="/visual-overview">Візуальний огляд</a></li>
                <li><a> Історія руху </a></li>
            </ul>
 
            <ul class="main-action-buttons-list">
                <li><a>Розташування сховищ?</a></li>
                <li><a>Звіти по інвентарю?</a></li>
                <li><a>Системні налаштування</a></li>
                <li><a>Управління користувачами?</a></li>
            </ul>
        </div>
    


        <div class="statistics">
            <!-- temporary -->
            <h2>Dashboard Statistics</h2>
            <p>Total Clients: 150</p>
            <p>Active Shipments: 45</p>
            <p>Inventory Items: 1200</p>
            <!-- temporary -->
            <button>View Detailed Reports</button>
        </div>
    </div>
</div>