.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    background: linear-gradient(rgb(70,70,70),rgb(60,60,60)) ; 
}

.main-content {
    flex-grow: 10;
    display: flex;
    max-height: 74vh;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: linear-gradient(rgb(50, 50, 50), rgb(45, 45, 45));
}

app-inventory {
    flex-grow: 2;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}