
.client-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%; /* або наприклад 80vh */
  gap: 20px;
}

.client-list {
  flex-grow: 1;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: gray;
}

h2{
    margin: 0;
    color: white;
}

.client-actions {
  display: flex;
  gap: 10px;
  flex-shrink: 0; 
}

.client-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 5px;
}