<div class="client-container">
    <h2>Client Management</h2>
    <mat-divider></mat-divider>
    <div class="client-actions">
        <button mat-raised-button color="primary" (click)="openAddDialog()">Add New Client</button>
        <button mat-raised-button color="warn" >Delete Client</button>
    </div>

    <div class="client-list">
        <app-table 
        [columns]="clientColumns" 
        [data]="clientItems" 
        [rowIdKey]="rowIdKeyForClients"
        (rowClicked)="onItemSelected($event)">
        </app-table>
    </div>
</div>