/* Загальний контейнер (опціонально, щоб обмежити висоту всієї сторінки) */
.inventory-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%; /* або наприклад 80vh */
  gap: 20px;
}

h2{
    margin: 0;
    color: white;
}

.inventory-actions {
  display: flex;
  gap: 10px;
  flex-shrink: 0; 
}

.inventory-list {
  flex-grow: 1;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: gray;
}
