
<div class="inventory-container">
    <h2>Inventory Management</h2>
    <mat-divider></mat-divider>
    <div class="inventory-actions">
        <button mat-raised-button color="primary" (click)="openAddDialog()">Add New Item</button>
        <button mat-raised-button color="warn" [disabled]="selectedInventoryItems.length === 0">Delete Item</button>
    </div>

    <div class="inventory-list">
        <app-table 
        [columns]="inventoryColumns" 
        [data]="inventoryItems" 
        [rowIdKey]="rowIdKeyForInventory"
        (rowClicked)="onItemSelected($event)"
        (selectionChanged)="onSelectionChange($event)">
    </app-table>
    </div>
</div>
