/* Загальний контейнер (опціонально, щоб обмежити висоту всієї сторінки) */
.inventory-page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 440px; /* 100% висоти вікна мінус невеликий відступ */
  gap: 20px;  
  box-sizing: border-box;
}


.inventory-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.inventory-sidebar {
  width: 320px;
  // height: 100%;
  max-height: 440px;
  
  /* Стиль вашої темної теми */
  background-color: #2c2c2c; /* Трохи світліший за чорний фон сторінки */
  border: 1px solid #444;    /* Темна рамка */
  border-radius: 8px;
  
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h2{
    margin: 0;
    color: white;
}

.inventory-actions {
  display: flex;
  gap: 10px; 
}

.inventory-list {
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: gray;
}

app-generic-filter {
  height: 100%;
}