.documents-container {
  display: flex;
  flex-direction: column;
  height: 100%; 

  .page-header {
    p {
      color: #fff;
      font-size: 18px;
    }

    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 500;   
      display: flex;
      align-items: center;
      gap: 8px; // Щоб іконка mat-icon не злипалася з текстом
    }
  }
}

.table-wrapper {
  flex-grow: 1; 
  min-height: 360px;     // Змушуємо блок зайняти все вільне місце
  max-height: 450px; // Обмеження за твоєю логікою
  background-color: #808080;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}



app-table {
//   display: block;   
  width: 100%;
//   max-height: 100%; 
  overflow-y: auto;  // Скрол оживає завдяки flex-grow батька
  position: relative; // Щоб працювали зафіксовані (sticky) заголовки
}

