@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

$WMS-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$WMS-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$WMS-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Твоя поточна світла тема Material
$WMS-theme: mat.m2-define-dark-theme((
  color: (
    primary: $WMS-primary,
    accent: $WMS-accent,
    warn: $WMS-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

@include mat.all-component-themes($WMS-theme);

/* =======================================================
   ГЛОБАЛЬНІ CSS ЗМІННІ (Для кастомних компонентів)
   ======================================================= */
:root {
  /* Темна тема для карток, таблиць, деталей */
  --bg-main: #121212;
  --bg-card: #212121;
  --bg-header: #1e1e1e;
  --bg-filter: #313131;
  --bg-table: rgba(43, 43, 43);
  --bg-map-item: #303030;
  --bg-document-create: #464646;

  --text-main: #ffffff;
  --text-muted: #aaaaaa;  
  
  --border-color: rgba(255, 255, 255, 0.1);
  --hover-row: rgba(255, 255, 255, 0.05);
  --selected-row: rgba(63, 81, 181, 0.15); 
}

/* =======================================================
   ГЛОБАЛЬНІ СТИЛІ БРАУЗЕРА
   ======================================================= */
html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  /* 🔴 ДОДАЄМО: застосовуємо темний фон для всього екрану */
  background-color: var(--bg-main); 
  color: var(--text-main);
}