<div>
    <h1>Contracts Management</h1>
    <div class="contracts-actions">
        <button>Add New Item</button>
        <button>Delete Item</button>
    </div>

    <div class="contracts-list">
        <table>
            <thead>
                <tr>
                    <th> № </th>
                    <th> Contract ID </th>
                    <th> Name </th>
                    <th> Client </th>
                    <th> Starting Date </th>
                    <th> Ending Date </th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                    <tr>
                        <td>{{item}}</td>
                        <td>{{item}}</td>
                        <td>{{item}}</td>
                        <td>{{item}}</td>
                        <td>{{item}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>